body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*///////FORMATTING FOR HOME PAGE///////*/
body {
    background: url(img/background/background.png) repeat 5% 5%;
    
}

#midground {
    background: url(img/background/midground.png) repeat 20% 20%;
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 997;*/
    animation: animatedBackground 60s linear infinite
}

#foreground {
    background: url(img/background/foreground.png) repeat 90% 110%;
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;*/
    animation: animatedBackground 60s linear infinite
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

.navbar-brand {
    color: white !important;
    background-color: #556b2f;
    font-family: 'Permanent Marker', cursive;
}

.navbar.navbar-inverse {
    background-color: #556b2f;
    border-color: #556b2f;
}

h2 {
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #556b2f;
        /*#1E311E;*/
}

.information{
    color: #556b2f;
}

.information:hover {
    color: grey;
}

.park-name {
    font-family: 'Fascinate Inline', cursive;
    font-size: 30px;
}

.body-content{
   background-color: white;
   opacity: .9;
}
a {
    color: black;
}

a:hover {
    color: grey;
}

.main-picture img {
    text-align: center;
}

.description {
    font-size: 25px;
    text-align: justify;
}

.location {
    font-weight: bold;
}

/*///////FORMATTING FOR DETAIL PAGE///////*/
.carousel-item {
    height: 300px;
    display: initial;
}

    .carousel-item img {
        opacity: 0.7;
        z-index: 10;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }

.carousel-caption {
    position: absolute;
    z-index: 10;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

#detail-park {
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    text-shadow: 0.3em 0.3em 0.3em grey;
    z-index: 10;
}

#detail-quote {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color: white;
    text-align: center;
    z-index: 10;
}

.about-the-park {
    font-weight: bold;
    text-align: center;
}

.title {
    font-weight: bold;
}

.extra {
    text-align: center;
}

.forecast {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.temp {
    font-weight: bold;
}

.choice {
    padding-top: 100%;
    color: white;
}

.table-condensed {
    color: #556b2f;
}
/*///////FORMATTING FOR SURVEY PAGE///////*/
#survey {
    position: absolute;
    max-height: 80%;
    opacity: 0.4;
    z-index: 1000;
}

#test {
    position: absolute;
    display: inline-block;
    z-index: 1001;
    padding-left: 25%;
    padding-top: 10%;
    font-weight: bold;
    color: white;
}

/*///////FORMATTING FOR RESULT SURVEY PAGE///////*/
.row {
    align-content: center;
}

.survey-number {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-size: 20px;
}

.btn-primary {
    background-color: #556b2f;
    border-color: #556b2f;
    width: 100%;
}

.result-park-name {
    text-align: center;
}

.survey_result {
    height: 100px;
    width: 100px;
}
